.container .visual{width:100%;height:600px;background-image: url("../images/main/visual.jpg");background-position:center;background-repeat:no-repeat;background-size:cover;position:relative;}
.container .visual .txt_box{width:1200px;margin:0 auto;padding-top:190px;}
.container .visual .txt_box p{font-size:70px;color:#fff;font-weight:600;line-height:76px;position:relative;padding-bottom:17px;}
.container .visual .txt_box p::after{content:"";position:absolute;display:block;width:480px;height:1px;background-color: rgba(255,255,255,1);left:0;bottom:0;z-index:2}
.container .visual .txt_box p::before{content:"";position:absolute;display:block;width:840px;height:1px;background-color: rgba(255,255,255,.4);left:-360px;bottom:0;z-index:1}

.container .map_wrap{background-image: url("../images/main/map_bg.jpg");background-position:center;background-repeat:no-repeat;background-size:cover;}
.container .map_wrap .map_inner{width:1200px;min-height:810px;position:relative;margin:10px auto 0;padding-top:33px;}
.container .map_wrap .map_inner .year_tab{position:absolute;top:-100px;right:0;height:180px;background-color: #fff;width:638px;padding:6px;border-radius:3px;font-size:0;z-index:99}
.container .map_wrap .map_inner .year_tab li{float:left;border:4px solid #fff;width:33.333%;position:relative;}
.container .map_wrap .map_inner .year_tab li a{display:block;position:relative;width:100%;height:160px;background-color:#fff;border-radius:3px;overflow: hidden;}
.container .map_wrap .map_inner .year_tab li a::before{content:"";position:absolute;width:100%;height:100%;display:block;background-color: rgba(27,27,27,.9);background-repeat:no-repeat;background-position:center;background-size:cover; transition:all 0.2s ease-in-out;}
.container .map_wrap .map_inner .year_tab li a span{display: inline-block;position:absolute;width:100%;text-align:center;left:0;top:50%;transform: translateY(-50%);font-size:22px;color:#fff;font-weight:500;}
.container .map_wrap .map_inner .year_tab li a span i{position:absolute;display:block;width:100%;height:36px;bottom:0;background-image: url("../images/main/map_plus.png");background-repeat:no-repeat;background-position:center bottom;z-index:-1;opacity:0;}
.container .map_wrap .map_inner .year_tab li.y01 a{background-image: url("../images/main/map_tab01.jpg")}
.container .map_wrap .map_inner .year_tab li.y02 a{background-image: url("../images/main/map_tab02.jpg")}
.container .map_wrap .map_inner .year_tab li.y03 a{background-image: url("../images/main/map_tab03.jpg")}
.container .map_wrap .map_inner .year_tab li.on a{position:absolute;z-index:5;background-image: none;overflow: visible}
.container .map_wrap .map_inner .year_tab li.on a span{padding-bottom:58px;font-size:32px;line-height:32px;}
.container .map_wrap .map_inner .year_tab li.on a span i{z-index:3;opacity:1;bottom:0;}
.container .map_wrap .map_inner .year_tab li.on a::before{background-color:#0162db;transform:scale(1.25);background-image: url("../images/main/map_ptn.gif");background-repeat: repeat;background-position: 0 0;background-size: auto;border-radius:3px;box-shadow:0 8px 10px rgba(74,74,74,.4);}
.container .map_wrap .map_inner .con_area{font-size:0;}
.container .map_wrap .map_inner .con_area>div{display: inline-block;min-height:729px;}
.container .map_wrap .map_inner .con_area .l_box{width:350px;}
.container .map_wrap .map_inner .con_area .l_box .map{position:relative;width:291px;height:729px;margin:0 auto;background-image: url("../images/main/map01.png");background-repeat:no-repeat;background-position:center 0;}
.container .map_wrap .map_inner .con_area .l_box span{display:block;position:absolute;text-align:center;cursor: pointer;font-size:16px;line-height:20px;color:#fff;font-weight:300;padding-top:20px;background-image: url("../images/main/map_chk.png");background-repeat:no-repeat;background-position:right 0 top;}
.container .map_wrap .map_inner .con_area .l_box span.t01{top:278px;right:86px;}
.container .map_wrap .map_inner .con_area .l_box span.t02{top:464px;left:172px;}
.container .map_wrap .map_inner .con_area .l_box span.t03{top:580px;left:20px;}
.container .map_wrap .map_inner .con_area .l_box span.t04{top:615px;left:92px;}
.container .map_wrap .map_inner .con_area .l_box span.on{color:#0162db;font-weight:600;font-size:28px;line-height:28px;background-image: url("../images/main/map_chk_on.png");padding-top:28px;}
.container .map_wrap .map_inner .con_area .l_box span.on.t01{top:267px;right:66px}
.container .map_wrap .map_inner .con_area .l_box span.on.t02{top:453px;left:144px;}
.container .map_wrap .map_inner .con_area .l_box span.on.t03{top:571px;left:-34px;}
.container .map_wrap .map_inner .con_area .l_box span.on.t04{top:615px;left:62px;}
.container .map_wrap .map_inner .con_area .r_box{width:calc(100% - 350px);position:relative}
.container .map_wrap .map_inner .con_area .r_box .inner_box{position:absolute;top:172px;width:100%;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box{position:relative;width:100%;padding-left:290px;height:100%;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box span{display:inline-block;width:auto;font-size:22px;color:#0162db;border:2px solid #0162db;line-height:22px;padding:9px 30px;border-radius:22px;margin-bottom:25px;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box h3{font-size:52px;color:#282828;line-height:52px;font-weight:700;margin-bottom:5px;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box h4{font-size:38px;line-height:38px;color:#282828;font-weight:400;margin-bottom:40px;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text{padding-left:40px;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text p{font-size:24px;color:#282828;font-weight:600;line-height:21px;margin-bottom:14px;position:relative;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text .bul{position:relative;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text .bul::before{content:"";display:block;width:100px;height:21px;position:absolute;top:1px;left:-119px;
    background-image: url("../images/main/img-bul.png");background-repeat:no-repeat;background-position:0 0}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text ul{margin-bottom:20px;}
.container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text li{line-height:32px;font-size:20px;font-weight:300;color:#282828;}
.container .map_wrap .map_inner .con_area .r_box .img-area{position:absolute;top: -94px;left: -328px;width:210px;height:210px;z-index:10;}
.container .map_wrap .map_inner .con_area .r_box .img-area .img-inner{position:relative;width:100%;height:100%;}
.container .map_wrap .map_inner .con_area .r_box .img-area .img-inner .circle{width:210px;height:210px;border-radius:50%;overflow:hidden;border:3px solid #707070;background-color:#fff;background-repeat:no-repeat;background-position:center;background-size:cover;}

.container .graph_wrap{}
.container .graph_wrap .inner{width:1200px;margin:0 auto;font-size:0;padding:50px 0;}
.container .graph_wrap .inner.col-2>.box{display: inline-block;width:570px;}
.container .graph_wrap .inner.col-2>.box:last-child{float:right;}
.container .graph_wrap .inner.col-3>.box{display: inline-block;width:400px;min-height:336px;text-align:center;}
.container .graph_wrap .inner h2{font-size:32px;line-height:32px;font-weight:100;margin-bottom:30px;}
.container .graph_wrap .inner h2 span{font-weight:600;}
.container .graph_wrap .inner h2.type01{color:#fff;}
.container .graph_wrap .inner h2.type01 span{color:#79bfff}

.container .graph_wrap.graph01{background-image: url("../images/main/blue_bg.jpg");background-repeat:no-repeat;background-position:center;}
.container .graph_wrap.graph01 .inner{height:560px;}
.container .graph_wrap.graph01 .inner .box .graph_box{width:100%;height:380px;background-color:#fff;border-radius:10px;box-shadow:0 16px 14px rgba(0,0,0,.3);padding:30px 40px 25px}
.container .graph_wrap.graph02{background-image: url("../images/main/sky_bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover}
.container .graph_wrap.graph02 .inner{height:510px;}
.container .graph_wrap.graph02 .inner h2{margin-bottom:50px}

@media only screen and (min-width : 0px) and (max-width : 1280px) {
    .container .visual .txt_box{position:relative;width:100%;padding:190px 20px 0;left:0;margin-left:0;}
    .container .map_wrap .map_inner{width:100%;padding:33px 20px 0;}
    .container .map_wrap .map_inner .year_tab{right:20px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box h3{line-height:64px;margin-bottom:0}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text p{line-height:26px;}

    .container .graph_wrap .inner{width:100%;margin:0 auto;font-size:0;padding:50px 20px;}
    .container .graph_wrap .inner.col-2>.box{width:48%}
    .container .graph_wrap .inner.col-3>.box{width:33.333%;padding:0 15px}
    .container .graph_wrap .inner.col-3>.box img{width:100%;}
    .container .graph_wrap.graph02 .inner{height:auto;}
}

@media only screen and (min-width : 0px) and (max-width : 1024px) {
    .container .visual .txt_box p{font-size:50px;line-height:54px;}

    .container .map_wrap .map_inner {width: 100%;padding: 120px 20px 30px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box {position: absolute;top: 50%;transform: translateY(-50%);}
    .container .map_wrap .map_inner .con_area .r_box .img-area{display:none}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text{padding-left:20px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text .bul::before{display:none}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text p{font-size:22px;line-height:22px;margin-bottom:7px;  }
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box{padding-left:30px;}
    .container .map_wrap .map_inner .year_tab{right:auto;left:50%;transform: translateX(-50%);}

    .container .map_wrap .map_inner .con_area .r_box .inner_box .box span{margin-bottom:12px;font-size:20px;padding:6px 25px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box h3{font-size:45px;line-height:45px;margin-bottom:10px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box h4{font-size:38px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text ul{padding-left:10px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text li{font-size:18px;line-height:30px;}
}

@media only screen and (min-width : 0px) and (max-width : 799px) {
    .container .visual{height:190px;}
    .container .visual .txt_box{position: absolute;padding: 0;left: 0;top: 23%;}
    .container .visual .txt_box p{padding-left:15px;font-size:24px;line-height:29px}
    .container .visual .txt_box p::before,.container .visual .txt_box p::after{display:none}

    .container .map_wrap .map_inner .year_tab{width:calc(100% - 32px);height:auto;padding:2px;top:-50px;}
    .container .map_wrap .map_inner .year_tab li{border:2px solid #fff;}
    .container .map_wrap .map_inner .year_tab li a{width:100%;height:0;padding-top:71.5%;background-size:cover;}
    .container .map_wrap .map_inner .year_tab li a::before{top:0;}
    .container .map_wrap .map_inner .year_tab li a span{font-size:11px;}
    .container .map_wrap .map_inner .year_tab li.on a span{font-size:16px;line-height:16px;padding-bottom:33px}
    .container .map_wrap .map_inner .year_tab li.on a::before{transform: scale(1.1)}
    .container .map_wrap .map_inner .year_tab li a span i{background-size:18px;height:18px;}

    .container .map_wrap {background-image:none;background-color:#ededed;}
    .container .map_wrap .map_inner{margin-top:4px;padding:15% 0 0;min-height:auto;}
    .container .map_wrap .map_inner .con_area>div{display:block;min-height:auto;}
    .container .map_wrap .map_inner .con_area .l_box{width:100%;min-height: auto;padding-bottom:14px;}
    .container .map_wrap .map_inner .con_area .l_box .map{width:100%;height: 0;padding-top: 89%;background-size: contain;}
    .container .map_wrap .map_inner .con_area .l_box span{font-size:10px;background-size:8px;line-height:10px;padding-top:11px;background-position: right 6px top}
    .container .map_wrap .map_inner .con_area .l_box span.t01{top:37%;right: 41.5%;}
    .container .map_wrap .map_inner .con_area .l_box span.t02{top:62%;left: 52%;}
    .container .map_wrap .map_inner .con_area .l_box span.t03{top:79%;left:34%;}
    .container .map_wrap .map_inner .con_area .l_box span.t04{top:87%;left:43%;}
    .container .map_wrap .map_inner .con_area .l_box span.on{font-size:10px;background-size:8px auto;padding-top:11px;line-height:10px;transform: scale(1.2);}
    .container .map_wrap .map_inner .con_area .l_box span.on.t01{top:37%;right: 41.5%;}
    .container .map_wrap .map_inner .con_area .l_box span.on.t02{top:62%;left: 52%;}
    .container .map_wrap .map_inner .con_area .l_box span.on.t03{top:79%;left:34%;}
    .container .map_wrap .map_inner .con_area .l_box span.on.t04{top:87%;left:43%;}
    .container .map_wrap .map_inner .con_area .r_box{width:100%;background-color:#fff;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box{position:relative;top:0;transform:none;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box{padding:15px}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box span{font-size:11px;line-height:normal;border:1px solid #0162db;padding: 2px 15px;margin-bottom:12px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box h3{font-size:26px;line-height:26px}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box h4{font-size:19px;line-height:normal;margin-bottom:0;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text{padding:15px 0 0;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text p{font-size:14px;line-height:14px;margin-bottom:7px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text ul{margin-bottom:10px;}
    .container .map_wrap .map_inner .con_area .r_box .inner_box .box .in_text li{font-size:12px;line-height:16px; }

    .container .graph_wrap .inner h2{font-size:19px;line-height:19px;margin-bottom:13px;}
    .container .graph_wrap .inner.col-2>.box{display:block;width:100%;}
    .container .graph_wrap .inner.col-2>.box:last-child{float:none;}
    .container .graph_wrap .inner.col-2>.box:last-child h2{margin-top:30px;}
    .container .graph_wrap .inner.col-3>.box{min-height:auto;width:58%;display:block;margin:25px auto 0;padding:0;}

    .container .graph_wrap.graph01{background-image: none;background-color:#0168c7}
    .container .graph_wrap.graph01 .inner{height:auto;padding:25px 15px;}
    .container .graph_wrap.graph01 .inner .box .graph_box{width:80%;height:190px;margin:0 auto;border-radius:5px;padding:15px 20px 12px;box-shadow: 0 8px 7px rgba(0,0,0,.3)}
    .container .graph_wrap.graph02{background-image: none;background-color:#fff;}
    .container .graph_wrap.graph02 .inner h2{margin-bottom:0;}
}

@media only screen and (min-width : 0px) and (max-width : 480px) {
    .container .map_wrap .map_inner .year_tab li.on a::before {transform: scale(1.2)}
}